<p id="notice"><%= notice %></p>

<h1>Primary Keys</h1>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Column</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primary_keys.each do |primary_key| %>
      <tr>
        <td><%= primary_key.table %></td>
        <td><%= primary_key.column %></td>
        <td><%= link_to 'Show', primary_key %></td>
        <td><%= link_to 'Edit', edit_primary_key_path(primary_key) %></td>
        <td><%= link_to 'Destroy', primary_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primary Key', new_primary_key_path %>
