<h3> Project: <small> <%= @table.project_name %> </small></h3>
<p>
  <strong>System name:</strong>
  <%= @table.system_name %>
</p>

<p>
  <strong>Database name:</strong>
  <%=@table.database_name%>
</p>

<p>
  <strong>MS Database name:</strong>
  <%=@table.ms_database_name%>
</p>

<p>
  <strong>Table type:</strong>
  <%= @table.type.name %>
</p>

<p>
  <strong>Active ID:</strong>
  <%= @table.active_id %>
</p>

<p>
  <strong>Active created:</strong>
  <%= @table.active_created %>
</p>

<p>
  <strong>Active updated:</strong>
  <%= @table.active_updated %>
</p>
<hr/>
<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', project_path(@table.projects_id) %>

<hr/>
<%= button_tag 'Create new Column', id: 'create_column'%>
<%= button_tag 'Create new Foreign Key', id: 'create_foreign_key'%>
<%= button_tag 'Create primary_key', id: 'create_pk'%>

<div id="column_form" style="display:none" class="mt-4">
  <%= render 'columns/form' %>
</div>


<div id="foreign_key_form" style="display:none" class="mt-4">
  <%= render 'foreign_keys/form' %>
</div>

<div id="pk_form" style="display:none" class="mt-4">
  <%= render 'primary_keys/form' %>
</div>

<hr/>

<%= render 'columns/index' %>
<hr/>

<%= render 'foreign_keys/index' %>
<hr/>

<h3> Code </h3>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Model
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <pre>
        <code class="go">
<%= @table.generate_getters_and_setters.html_safe %>
        </code>
        </pre>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Migration
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <pre>
        <code class="ruby">
<%= @table.generate_migration.html_safe %>
        </code>
        </pre>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Scaffold
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <pre>
        <code class="ruby">
<%= @table.generate_scaffold.html_safe %>
        </code>
        </pre>
      </div>
    </div>
  </div>
</div>

<script>
  $("#create_column").click(function(){
    $("#column_form").toggle(200);
    $("#foreign_key_form").hide(200);
    $("#pk_form").hide(200);
  });

  $("#create_foreign_key").click(function(){
    $("#foreign_key_form").toggle(200);
    $("#column_form").hide(200);
    $("#pk_form").hide(200);
  });

  $("#create_pk").click(function(){
    $("#pk_form").toggle(200);
    $("#foreign_key_form").hide(200);
    $("#column_form").hide(200);
  });

  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
