<%= form_with(model: ms_column_type, local: true) do |form| %>
  <% if ms_column_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ms_column_type.errors.count, "error") %> prohibited this ms_column_type from being saved:</h2>

      <ul>
      <% ms_column_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :prefix %>
    <%= form.text_field :prefix %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
