<p id="notice"><%= notice %></p>

<h1>Ms Column Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Size</th>
      <th>Prefix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ms_column_types.each do |ms_column_type| %>
      <tr>
        <td><%= ms_column_type.name %></td>
        <td><%= ms_column_type.description %></td>
        <td><%= ms_column_type.size %></td>
        <td><%= ms_column_type.prefix %></td>
        <td><%= link_to 'Show', ms_column_type %></td>
        <td><%= link_to 'Edit', edit_ms_column_type_path(ms_column_type) %></td>
        <td><%= link_to 'Destroy', ms_column_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ms Column Type', new_ms_column_type_path %>
