<p id="notice"><%= notice %></p>

<h1>Rails Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rails_types.each do |rails_type| %>
      <tr>
        <td><%= rails_type.name %></td>
        <td><%= rails_type.active_size %></td>
        <td><%= link_to 'Show', rails_type %></td>
        <td><%= link_to 'Edit', edit_rails_type_path(rails_type) %></td>
        <td><%= link_to 'Destroy', rails_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rails Type', new_rails_type_path %> |
<%= link_to 'Home', root_path %>
